* {
    box-sizing: border-box;
}
body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    position: absolute;
    width: 608px;
    height: 650px;
    background-color: #cdc8b0;
}
.map {
    position: relative;
    width: 544px;
    height: 544px;
    top: 32px;
    left: 32px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px #9a9784;
}
.input {
    position: relative;
    width: 120px;
    height: 40px;
    top: 50px;
    left: 244px;
    border: 1px solid #9a9784;
    background-color: #e9e4d0;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: #cd664d;
    box-shadow: 2px 2px #9a9784;
}
.box {
    width: 32px;
    height: 32px;
}
.box:nth-child(even) {
    background-color: #e9e4d0;
}
.box:nth-child(odd) {
    background-color: #b4af9a;
}
.box.snakeTail {
    background-color: #0d7377;
}
.box.snakeHead {
    background-color: #213e3b;
}
.box.food {
    background-color: #cd664d;
}
.grid {
    position: absolute;
    width: 608px;
    height: 650px;
    
}
.grid {
    position: absolute;
    width: 608px;
    height: 650px;
    background-image: 
        linear-gradient(#9a9784 1px, transparent 1px),
        linear-gradient(90deg, #9a9784 1px, transparent 1px),
        linear-gradient(#9a9784 1px, transparent 1px),
        linear-gradient(90deg, #9a9784 1px, transparent 1px);
    background-size: 
        5px 5px,
        5px 5px,
        20px 20px,
        20px 20px;
    background-position:
        -6px -5px,
        -6px -5px,
        -6px -5px,
        -6px -5px;
    opacity: .1;
}
.lens {
    position: absolute;
    width: 608px;
    height: 650px;
    box-shadow: 0 0 70px rgba(0, 0, 0, .4) inset;
}
.swal-overlay--show-modal .swal-modal {
    will-change: unset;
}
.swal-overlay {
    background-color: unset;
}
.swal-modal {
    background-color: #e9e4d0;
    border: 1px solid #9a9784;
    border-radius: 0%;
    box-shadow: 2px 2px #9a9784;
}
.swal-title {
    font-family: 'VT323', monospace;
    font-weight: unset;
    font-size: 26px;
    color: #cd664d;
}
.swal-text {
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: #cd664d;
    border: 1px solid #cd664d;
    border-width: 1px 0; 
    text-align: center;
}
.swal-footer {
    text-align: unset;
}
.swal-button {
    padding: 6px 24px;
    font-family: 'VT323', monospace;
    font-weight: unset;
    font-size: 24px;
    background-color: #e9e4d0;
    color: #cd664d;
    border-radius: unset;
    border: 1px solid #9a9784;
    box-shadow: 2px 2px #9a9784;
}
.swal-button:focus {
    font-family: 'VT323', monospace;
    font-weight: unset;
    font-size: 24px;
    background-color: #e9e4d0;
    color: #cd664d;
    border-radius: unset;
    border: 1px solid #9a9784;
    box-shadow: 2px 2px #9a9784;
}
.swal-button:not([disabled]):hover {
    background-color: #cd664d;
    color: #e9e4d0;
    border: 1px solid #cd664d;
    box-shadow: 2px 2px #b4af9a;
}